pandas==1.3.0
matplotlib==3.4.2
networkx==2.5.1
pydot==1.4.2
graphviz==0.16
tenacity==6.2.0
altair==4.1.0
scipy==1.7.0
geopandas==0.9.0
topojson==1.1
descartes==1.1.0
shapely==1.7.1
pygeos==0.10.1
celery==5.2.2
jinja2==3.0.1
requests==2.26.0
redis==3.5.3
pyyaml==5.4.1
fastapi==0.66.0
orjson==3.6.0
pint==0.17
aiofiles==0.7.0
rtree==0.9.7
aiohttp==3.7.4
sqlalchemy==1.4.20
azure-storage-file-share==12.5.0
pyodbc==4.0.31
python-dotenv==0.18.0
brotli-asgi==1.1.0
